@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
    box-sizing: border-box;
}

a {
    outline: 0; /*removes the dotted box around the links*/
    cursor: pointer;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: dashed;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: red underline;
}

/* selected link */
a:active {
    color: #000000;
}

body {
    /*font-family: 'Kreon', serif;*/
    font-family: 'Share Tech Mono';
    /*font-family: 'Inconsolata';*/
    background-color: #ffffff;
}

#header {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 70px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 20px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#content {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 1000px;
    width: 100%;

    /*box model*/
    margin: 5px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    font-size: 0.8em;
}

#header_left {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 30%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    font-size: 3em;
    /*font-family: 'Holtwood One SC', serif;*/
    font-family: 'Righteous', cursive;

}

#header_center {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 40%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    font-size: 1em;
    /*font-family: 'Holtwood One SC', serif;*/
}

#header_right {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 30%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 0.8em;
}

#list_container {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

.list_item {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 20px 0px;
    /*border: 1px dotted #000000;*/
    /*border-bottom: 1px dashed slategray;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

.item_name {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    font-weight: bold;
    /*font-size: 40px;*/
    cursor: pointer;
}

.item_name:hover {
    text-decoration: underline;
}

.item_address {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

.item_phone {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

.item_email {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 25%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

#item_details_1 {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    border-left: 1px dashed slategray;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

#item_details_2 {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    border-left: 1px dashed slategray;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

#item_details_3 {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    border-left: 1px dashed slategray;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 40px;*/
}

.item_rating {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: auto;

    /*box model*/
    margin: 0px 10px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*color: #ffd454;*/
    font-size: 20px;
    text-align: center;
    /*font-size: 40px;*/
}

.review_count {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 30%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/
}

.summary {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*note: the next two properties make the canvas responsive*/
    max-width: 100%;
    height: auto;
}

.review_item {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 5px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/
    cursor: pointer;
}

.review_number {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 10%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 20px;*/
}

.review_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 40%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 20px;*/
}

.review_date {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 20%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 20px;*/
}

.review_details {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 600px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 20px;*/
}

.review_text {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 20px;*/
}

.pros_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-weight: bold;
    /*font-size: 20px;*/
}

.cons_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-weight: bold;
    /*font-size: 20px;*/
}

.review_author {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 20px;*/

}

.author_underline {
    text-decoration: underline;
}

.grades_summary {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 200px;
    width: 100%;

    /*box model*/
    margin: 50px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    /*font-size: 20px;*/
}

.final_rating {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 8em;
}

#login_registration_wrapper {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 80%;
    width: 60%;

    /*box model*/
    margin: 0px auto 0px auto;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;

}

#login_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
}

#login_username {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 0.8em;*/
}

#login_password {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 0.8em;*/

}

.form_input {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-family: 'Share Tech Mono';
    font-size: 25px;
    text-align: center;
    color: #ff0000;
}

#login_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 50%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 25px*/;
}

#registration_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 50%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    border-left: 1px dashed slategray;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 25px*/;
}

#registration_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
}

#login_button {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 40%;

    /*box model*/
    margin: 0px auto 0px auto;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    color: #000000;
    background-color: rgba(255,212,84,0.5);
    border-radius: 7px;
    vertical-align: middle;
    /*font-size: 1.2em;*/
    cursor: pointer;
}

#registration_name {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*    font-size: 0.8em;*/
}

#registration_username {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;
}

#registration_email {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;

}

#registration_password {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;

}

#registration_password_repeat {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;

}

#login_button_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100px;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;
}

#registration_button_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100px;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 25px;
}

#registration_button {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 40%;

    /*box model*/
    margin: 0px auto 0px auto;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    color: #000000;
    background-color: rgba(255,212,84,0.5);
    border-radius: 7px;
    vertical-align: middle;
    font-size: 1.5em;
    cursor: pointer;
}

.text_vertical_alignment {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.item_add_review {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: auto;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 10px 0px 0px;

    /*decorations*/
    text-align: right;
    /*font-size: 40px;*/
    cursor: pointer;
}

.item_add_review:hover {
    text-decoration: underline;
    color: red;
}

.form_input_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 10px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*text-align: right;*/
    /*font-size: 40px;*/
    /*cursor: pointer;*/
}

#add_review_button_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100px;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 25px;*/
}

#add_review_button {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 40%;

    /*box model*/
    margin: 0px auto 0px auto;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    color: #000000;
    background-color: rgba(255,212,84,0.5);
    border-radius: 7px;
    vertical-align: middle;
    font-size: 1.5em;
    cursor: pointer;
}

#search_area {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*float: left;*/
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 50%;

    /*box model*/
    margin: 0px auto 0px auto;
   /* border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    color: #000000;
    font-size: 1em;
    /*cursor: pointer;*/
}

.review_stats {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: auto;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
    color: #aaaaaa;
}

#review_opinion {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-size: 2em;

}

#review_attributes_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 20px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: left;
}

.review_attribute {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 30px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;

}

.attr_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 30%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    text-decoration: underline;

}

.attr_values {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: right;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 60%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
}

.useful {
    /*display*/
    display: inline-block; /*default display for div tags*/
    cursor: pointer;

}

.useful:hover {
    color: limegreen;
}

.not_useful {
    /*display*/
    display: inline-block; /*default display for div tags*/
    cursor: pointer;
}

.not_useful:hover {
    color: red;
}

#titles_filters_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#clients {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#performance {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#review_list {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#review_details {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 25%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

.filter_menu {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted red;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/

}

#clients_header {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}

#clients_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

#clients_filters {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/

}

.filter_link_decoration:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0000ff;
}

#reviews_header {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    /*font-size: 40px;*/
}


#reviews_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

#review_filters {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/
}

.search_box {
    background-color: transparent;
    /*border: 1px solid #000000;*/
    border: none;
    border-bottom: 1px solid red;
    /*border-radius: 5px;*/
    height: auto;
    width: 100%;
    font-family: 'Share Tech Mono';
    font-size: 25px;
    text-align: center;
    color: #ff0000;
    outline: none;
}

img {
    width: 50%;
}

.confused_wrapper {
    /*positioning*/
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;
    transform: translateY(-50%);

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px auto 0px auto;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
}

.live_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 10%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/
}

.input_wrapper {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 90%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted red;*/
    padding: 0px 0px 0px 0px;

    /*decorations*/
    text-align: center;
    /*font-size: 40px;*/

}